.form {
  background-color: rgb(232, 226, 226);
  height: 700px;
  width: 400px;
  border-radius: 40px;
  padding: 20px 40px;
  box-shadow: 0 -10px 25px rgba(0, 0, 0, 0.2);
}

.header img {
  float: right;
  width: 120px;
  height: 120px;
  padding-right: 40px;
}
.header h1 {
  position: relative;
  top: 18px;
  left: -45px;
}

.title {
  font-size: 50px;
  margin-bottom: 50px;
  text-align: right;
  color: #c14949;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
}

body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  background: #c14949;
  font-family: "lato", sans-serif;
}

.signupFrm {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 800px;
}

.inputContainer {
  bottom: -20px;
  position: relative;
  height: 45px;
  width: 100%;
  right: 10px;
  margin-bottom: 45px;
  font-weight: bold;
}

.input {
  height: 100%;
  width: 100%;
  border: 1px solid #020303;
  border-radius: 7px;
  font-size: 16px;
  padding: 0 -10px;
  outline: none;
  background: white;
  z-index: 1;
  margin-top: 10px;
}

.input:focus {
  top: -7px;
  left: 3px;
  z-index: 10;
  font-size: 14px;
  font-weight: 600;
  border: 2px solid rgb(193, 73, 73);
}


.submitBtn {
  display: block;
  margin: 100px;
  margin-left: 150px;
  margin-top: 150px;
  padding: 20px;
  border: none;
  background-color: rgb(219, 115, 115);
  border-radius: 50px;
  cursor: pointer;
  font-size: 16px;
  margin-top: 80px;
  font-weight: bold;
}
.submitBtn:hover {
  background-color: #c14949;
  transform: translateY(-2px);
}

.para-1 {
  font-weight: 550;
  font-family: "lato", sans-serif;
}

.para-2 {
  color: #0d0d0d;
  font-size: 15px;
  margin-top: -93px;
  text-align: center;
  font-weight: bold;
}